@import "tailwindcss";
*{
  box-sizing: border-box;
}
.big {
  font-family: "Big Shoulders", sans-serif;

  font-style: normal;
}
.exo {
  font-family: "Exo 2", sans-serif;

  font-style: normal;
}m scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}