@import "tailwindcss";
*{
  box-sizing: border-box;
}
.big {
  font-family: "Big Shoulders", sans-serif;

  font-style: normal;
}
.exo-2-<uniquifier> {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}